.button {
  padding: 16.5px;
  
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
  
  cursor: pointer;
  border: none;
  background-color: #FC9B27;
}

.button:hover {
  background-color: #fa8a00;
}
