.benefits {
  padding: 100px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__title {
  margin: 0;
  font-size: 36px;
  line-height: 41px;
  margin-bottom: 64px;
}

.benefits__list {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
