.benefits {
  padding: 100px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__list {
  margin: 64px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.benefits__item {
  list-style: none;
}
